body {
  background-color: #e0e0e0;
}

.loxone-heading {
  width: calc(100% - 40px);
  padding:20px 20px;
  background-color: #fff;
}

.loxone-heading .title {
  font-size: 30px;
  margin-bottom: 20px;
}

.loxone-list {
  width: 100%;
  margin-top: 20px;
}

.loxone-list .loxone-row {
  width: calc(100% - 40px);
  height: 20px;
  padding: 15px 20px;
  margin: 5px 0px;
  background-color: #fff;
}

.loxone-list .loxone-row:hover {
  background-color: #f0f0f0;
}

.loxone-list .dropdown {
  width: calc(100% - 20px);
  display: none;
  background-color: #ffffff;
  margin: 5px 10px;
}

.loxone-list .dropdown .state-row {
  width: calc(100% - 40px);
  height: 20px;
  padding: 5px 20px;
}

.loxone-list .dropdown .state-row:hover {
  background-color: #f0f0f0;
}

.loxone-heading #filter-input {
  width: 300px;
  height: 14px;
  margin: 20px 0px;
}

.loxone-heading .table-heading {
  font-size: 16px;
  cursor: pointer;
  height: 10px;
}

.sort-icon {
  width: 16px;
  height: 16px;
  float: left;
}

.ascending {
  background-image: url("/img/sort-arrow.svg");
}

.descending {
  background-image: url("/img/sort-arrow.svg");
  transform: rotate(180deg);
}

.heading-column .name {
  float: left;
}

.loxone-name-column {
  width: 30%;
  height: 100%;
  float: left;
}

.loxone-category-column {
  width: 20%;
  height: 100%;
  float: left;
}

.loxone-room-column {
  width: 20%;
  height: 100%;
  float: left;
}

.loxone-frequency-column {
  width: 10%;
  height: 100%;
  float: right;
}

.frequency-input {
  width: 60px;
  height: 30px;
  border: 1px solid #c4c4c4;
  /*background-color: #e9e9e9;*/
  padding: 0px 5px;
  position: relative;
  top: -5px;
}

.dropdown .state-column {
  width: 70%;
  height: 100%;
  float: left;
}

.dropdown .value-column {
  width: 10%;
  height: 100%;
  float: left;
}

.dropdown .time-column {
  width: 10%;
  height: 100%;
  float: left;
}

.dropdown .enable-column {
  width: calc(10% - 10px);
  height: 100%;
  float: left;
  padding: 0px 5px;
}

.enable-button {
  width: 100%;
  height: 26px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  color: #c8c8c8;
  border-radius: 3px;
  position: relative;
  top: -3px;
}

.enabled {
  background-color: #639316;
  color: #fff;
}
