<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(
		title = ~{::title},
		body = ~{::body},
		footer = ~{footer-top :: content},
		navloc = 'settings',
		headExtra = ~{::loxone-head-extra})}"
	xmlns:snode="http://solarnetwork.net/taglib/thymeleaf-solarnode-setup">
<head>
    <title data-th-text="#{app.title(#{loxone.title})}">SolarNode Services</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../css/bootstrap.css">
	<link rel="stylesheet" href="../../../css/solarnode.css">
	<link rel="stylesheet" href="../../../css/fonts.css">
	<link rel="stylesheet" href="../../../css/bootstrap-icons.css">
	
	<!--/*/ <th:block th:fragment="loxone-head-extra"> /*/-->
	<meta name="loxone-config-id" data-th-content="${configId}" data-th-if="${configId}">
	<meta name="loxone-config-ids" data-th-content="${configIds}" data-th-if="${configIds}">

	<link rel="stylesheet" href="@{/css/loxone.css}">

	<script type="application/javascript" src="/js-lib/knockout-3.4.0.js" data-th-src="@{/js-lib/knockout-3.4.0.js}"></script>
	<script type="application/javascript" src="/js-lib/jquery.form.js" data-th-src="@{/js-lib/jquery.form.js}"></script>

	<script type="application/javascript" src="/js/loxone.js" data-th-src="@{/js/loxone.js}"></script>
	<script type="application/javascript" src="/js/loxone-api.js" data-th-src="@{/js/loxone-api.js}"></script>
	<script type="application/javascript" src="/js/loxone-utils.js" data-th-src="@{/js/loxone-utils.js}"></script>
   	<!--/*/ </th:block> /*/-->		
</head>
<body data-th-remove="tag">

<div class="loxone-heading">
	<div class="loxone-upload-file" onclick="Loxone.controlView.openFileInput()">Upload</div>

	<div class="title">Device configuration</div>

	<form id="loxone-file-upload-form" action="/a/loxone/XYZ/sources"  method="post" onchange="" enctype="multipart/form-data" hidden
			data-th-action="@{/a/loxone/{configId}/sources(configId=${configId})}">
		<input id="loxone-file-input" type="file" name="file" onchange="Loxone.controlView.submitFile()">
	</form>

  <input id="filter-input" type="text" placeholder="filter" onkeyup="Loxone.controlView.draw()">
  <div class="table-heading">
    <div class="loxone-name-column heading-column" onclick="Loxone.controlView.sortColumn('name')">
      <span class="name">Name</span>
      <div id="sort-icon-name" class="sort-icon ascending"></div>
    </div>
    <div class="loxone-source-column heading-column" onclick="Loxone.controlView.sortColumn('source')">
      <span class="name">Source ID</span>
      <div id="sort-icon-source" class="sort-icon ascending"></div>
    </div>
    <div class="loxone-type-column heading-column" onclick="Loxone.controlView.sortColumn('type')">
      <span class="name">Type</span>
      <div id="sort-icon-type" class="sort-icon"></div>
    </div>
    <div class="loxone-category-column heading-column" onclick="Loxone.controlView.sortColumn('cat')">
      <span class="name">Category</span>
      <div id="sort-icon-cat" class="sort-icon"></div>
    </div>
    <div class="loxone-room-column heading-column" onclick="Loxone.controlView.sortColumn('room')">
      <span class="name">Room</span>
      <div id="sort-icon-room" class="sort-icon"></div>
    </div>
    <div class="loxone-enable-column heading-column" >
      <span id="loxone-enable-text" class="name" onclick="Loxone.controlView.openEnableFilter()">All</span>
			<div id="loxone-enable-filter" class="enable-filter-dropdown" tabindex="-1">
				<div class="enable-filter" onclick="Loxone.controlView.enableFilter('All')">All</div>
				<div class="enable-filter" onclick="Loxone.controlView.enableFilter('Enabled')">Enabled</div>
				<div class="enable-filter" onclick="Loxone.controlView.enableFilter('Disabled')">Disabled</div>
			</div>
    </div>
    <div class="loxone-frequency-column heading-column">
      <span class="name">Frequency</span>
    </div>
  </div>
</div>

<div id="control-view" class="loxone-list"></div>

<script type="application/javascript" src="@{/js/loxone-view-control.js}"></script>
<script type="application/javascript" src="@{/js/loxone-websocket.js}"></script>

</body>
</html>
